# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
assets/characters/enemies/standard/ashen_highlands/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/characters/enemies/standard/crimson_desert/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/characters/enemies/standard/demon_realm/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/characters/enemies/standard/dragon_peaks/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/characters/enemies/standard/frostfang_mountains/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/characters/enemies/standard/ruined_kingdom/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/characters/enemies/standard/shadowlands/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/characters/enemies/standard/sunken_marshes/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/characters/enemies/standard/whispering_forest/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/environments/regions/ashen_highlands/painted/battle_bg.png filter=lfs diff=lfs merge=lfs -text
assets/environments/regions/crimson_desert/painted/battle_bg.png filter=lfs diff=lfs merge=lfs -text
assets/environments/regions/demon_realm/painted/battle_bg.png filter=lfs diff=lfs merge=lfs -text
assets/environments/regions/dragon_peaks/painted/battle_bg.png filter=lfs diff=lfs merge=lfs -text
assets/environments/regions/frostfang_mountains/painted/battle_bg.png filter=lfs diff=lfs merge=lfs -text
assets/environments/regions/ruined_kingdom/painted/battle_bg.png filter=lfs diff=lfs merge=lfs -text
assets/environments/regions/shadowlands/painted/battle_bg.png filter=lfs diff=lfs merge=lfs -text
assets/environments/regions/sunken_marshes/painted/battle_bg.png filter=lfs diff=lfs merge=lfs -text
assets/environments/regions/whispering_forest/painted/battle_bg.png filter=lfs diff=lfs merge=lfs -text
